html,
body {
  padding: 0;
  margin: 0;
  background-color: #242424;
}

body.chakra-ui-light {
  position: static !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.scaleDown {
  animation: fade 2s;
  overflow: hidden;
  transform-origin: center;
}

@keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}

@font-face {
  font-family: "BebasNeue";
  src: url('../public/fonts/BebasNeue-Book.ttf');
  font-weight: normal;
}
  
@font-face {
  font-family: "BebasNeue";
  src: url('../public/fonts/BebasNeue-Bold.ttf');
  font-weight: bold;
}