html,
body {
  padding: 0;
  margin: 0;
  background-color: #242424;
}

body.chakra-ui-light {
  position: static !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.scaleBackgroundDown {
  background-size: 105%;
  animation: scaleDownBg 9s;
  transform-origin: right bottom;
}

@keyframes scaleDownBg {
  from {background-size: 105%}
  to {background-size: 100%}
}

@font-face {
  font-family: "BebasNeue";
  src: url('../public/fonts/BebasNeue-Book.ttf');
  font-weight: normal;
}
  
@font-face {
  font-family: "BebasNeue";
  src: url('../public/fonts/BebasNeue-Bold.ttf');
  font-weight: bold;
}